@model PollDancingLibrary.DTOs.SenatorDTO
@{
    ViewData["Title"] = "Senator Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card-header {
            background-color: #007bff;
            color: white;
        }

        .scrollable-panel {
            max-height: 400px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <div class="container mt-4">

        <div class="row mb-3">
            <div class="col text-center">
                <h3 class="card-header">@Model.Name</h3>
                <label>Member ID - @Model.Id</label><br />
                <label>Party: @Model.PartyName</label>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div class="row mb-3">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="@Model.Image" class="img-fluid" style="max-width: 50%;" alt="Image of @Model.Name">
                            @if (Model.Terms != null && Model.Terms.Any())
                            {
                                var term = Model.Terms.OrderByDescending(x => x.StartYear).FirstOrDefault();
                                <h6 class="text-primary">@term.MemberType in @term.StateName (@term.StateCode)</h6>
                                <label>From @term.StartYear to @(term.EndYear.HasValue ? term.EndYear.ToString() : "Present")</label>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card mb-5">
                        <div class="card-body text-center">
                            <h4>Spin Score</h4>
                            <h1>77%</h1>
                        </div>
                    </div>
                    @if (Model.AddressInformation != null)
                    {
                        <div class="card mb-3">
                            <div class="card-body text-left">
                                <h4>Contact Information</h4>
                                <label>@Model.AddressInformation.Office,</label>
                                <br />
                                <label>Phone: @Model.AddressInformation.Phone</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Score Cards</h4>
                        <table id="scoreCardTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Score</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Bill Votes</h4>
                        <table id="votesTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                    <th>Abstain</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Sponsored Legislations</h4>
                        <table id="legislationTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Number</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Co-sponsored Legislations</h4>
                        <table id="coSponsoredBillTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Number</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

             
    </div>
</body>
<script>
    var memberId = @Model.Id;

    $('#legislationTable').DataTable({
        "processing": true, // Enable processing indicator
        "serverSide": true,
        "searching": true,
        "ajax": {
            "url": "@Url.Action("GetSponsoredLegislations", "Legislation")",
            "type": "POST",
            "datatype": "json",
            "data": {
                "memberId": memberId
            },
        },
        "columns": [
            { "data": "title", "orderable": true },
            { "data": "type", "orderable": true },
            { "data": "number", "orderable": true }
        ],
        "responsive": true
    });


    $('#coSponsoredBillTable').DataTable({
        "processing": true, // Enable processing indicator
        "serverSide": true,
        "searching": true,
        "ajax": {
            "url": "@Url.Action("GetCoSponsoredLegislations", "Legislation")",
            "type": "POST",
            "datatype": "json",
            "data": {
                "memberId": memberId
            },
        },
        "columns": [
            { "data": "title", "orderable": true },
            { "data": "type", "orderable": true },
            { "data": "number", "orderable": true }
        ],
        "responsive": true
    });


    $('#votesTable').DataTable({
        "processing": true, // Enable processing indicator
        "serverSide": true,
        "searching": true,
        "ajax": {
            "url": "@Url.Action("GetBillVotes", "LegislationVote")",
            "type": "POST",
            "datatype": "json",
            "data": {
                "memberId": memberId
            },
        },
        "columns": [
            { "data": "title", "orderable": true },
            { "data": "yes", "orderable": true },
            { "data": "no", "orderable": true },
            { "data": "notVoting", "orderable": true }
        ],
        "responsive": true
    });

    $('#scoreCardTable').DataTable({
        "processing": true, // Enable processing indicator
        "serverSide": true,
        "searching": true,
        "ajax": {
            "url": "@Url.Action("GetscoreCards", "ScoreCard")",
            "type": "POST",
            "datatype": "json",
            "data": {
                "memberId": memberId
            },
        },
        "columns": [
            { "data": "subject", "orderable": true },
            { "data": "score", "orderable": true },
            { "data": "comment", "orderable": true }
        ],
        "responsive": true
    });
</script>

</html>
