@model PollDancingLibrary.DTOs.SenatorDTO
@{
    ViewData["Title"] = "Senator Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card-header {
            background-color: #007bff;
            color: white;
        }

        .scrollable-panel {
            max-height: 400px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <div class="container mt-4">

        <div class="row mb-3">
            <div class="col text-center">
                <h3 class="card-header">@Model.Name</h3>
                <label>Member ID - @Model.Id</label><br />
                <label>Party: @Model.PartyName</label>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <div class="row mb-3">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="@Model.Image" class="img-fluid" style="max-width: 50%;" alt="Image of @Model.Name">
                            @if (Model.Terms != null && Model.Terms.Any())
                            {
                                var term = Model.Terms.OrderByDescending(x => x.StartYear).FirstOrDefault();
                                <h6 class="text-primary">@term.MemberType in @term.StateName (@term.StateCode)</h6>                                
                                <label>From @term.StartYear to @(term.EndYear.HasValue ? term.EndYear.ToString() : "Present")</label>
                            }                            
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card mb-5">
                        <div class="card-body text-center">
                            <h4>Spin Score</h4>
                            <h1>77%</h1>
                        </div>
                    </div>
                    @if (Model.AddressInformation != null)
                    {
                        <div class="card mb-3">
                            <div class="card-body text-left">
                                <h4>Contact Information</h4>
                                <label>@Model.AddressInformation.Office,</label> 
                                <br />
                                <label>Phone: @Model.AddressInformation.Phone</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="card">                    
                    <div class="card-body">
                        <h4>Sponsored Legislations</h4>
                        <table id="legislationTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*   <div class="col-md-6">
            <div class="card">
            <h4 class="card-header">Co-Sponsored Legislations</h4>
            <div class="card-body scrollable-panel">
            @if (Model.CosponsoredLegislations != null && Model.CosponsoredLegislations.Any())
            {
            @foreach (var legislation in Model.CosponsoredLegislations)
            {
            <p>@legislation.Title</p>
            <p>@legislation.Summaries</p>
            }
            }
            </div>
            </div>
            </div> *@
        </div>

        @*  <div class="row mb-3">
        <div class="col-md-6">
        <div class="card">
        <h4 class="card-header">Bill Votes</h4>
        <div class="card-body scrollable-panel">
        @if (Model.MemberLegislationVotes != null && Model.MemberLegislationVotes.Any())
        {
        @foreach (var vote in Model.MemberLegislationVotes)
        {
        <p>@vote.LegislationName</p>
        <p>@vote.Vote</p>
        }
        }
        </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="card">
        <h4 class="card-header">Scorecards</h4>
        <div class="card-body scrollable-panel">
        @if (Model.ScoreCards != null && Model.ScoreCards.Any())
        {
        @foreach (var scorecard in Model.ScoreCards)
        {
        <p>@scorecard.Subject</p>
        <p>@scorecard.Score</p>
        <p>@scorecard.Comment</p>
        }
        }
        </div>
        </div>
        </div>
        </div> *@
    </div>
</body>
<script>
    var memberId = 123;
    $('#legislationTable').DataTable({
        "ajax": {
            "url": "@Url.Action("GetSponsoredLegislations", "Legislation")",
            "type": "GET",
            "datatype": "json",
            "data": {
                "memberId": memberId
            },
        },
        "columns": [
            { "data": "Title" },
            { "data": "Summaries" }
        ]
    });
</script>

</html>
